.top{
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    width: 100vw;
    height: 60px;
    margin: auto;
 
    display: flex;
    align-items: center;
    justify-content: space-between;
    justify-content: center;
    background-color: rgb(24, 23, 23);
    background-color: #212121;
    z-index: 5;
}
.top-first{
    display: flex;
    align-items: center;
    justify-content: center;
}
.top h2{
    letter-spacing: 3px;
    color: rgb(238, 238, 238);
}
#reverb-img{
    margin-left: 5px;
    margin-top: 4px;
    width: 20px;
}
.bottom{
    width: 100vw;
    background-color: #212121;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    bottom: 0vh;
    padding: 10px 0;
    z-index: 5;
}
.bottom-section{
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.chart{
   display: flex;
   flex-direction: column;
    white-space: nowrap;
    overflow-x: scroll;
    overflow-y: hidden;
    transform: translateY(90px);
}
.chart-title{
    margin-left: 15px;
    align-self: flex-start;
    color: rgb(202, 197, 197);
    position: sticky;
    left: 15px;
}
.chart::-webkit-scrollbar {
    display: none;
  }
  .MuiCardContent-root{
      padding-bottom:16 ;
      height: 100px;
  }
  /* @media only screen and (min-width: 1920px) { */
 
  @media only screen and (min-width: 930px) {
      .home-body-chart{
          width: 100vw;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
         
      }
    .chart-body{
        display: flex;
        width: 95vw;
        justify-content: space-between;
    }
  }
  @media only screen and (min-width:1120px) {
    .chart-body{
        width: 80vw;
    }

}

  .home-card{
      margin: 15px;
      display: inline-block;

  }
  .home-card-image{
      width: 150px;
      height: 150px;
      object-fit: cover;
  }
  .home-card-text{
      display: flex;
      align-items: center;
      justify-content: flex-start;
      width: 150px;
      height: 15px;
      color: rgb(99, 98, 98);
      overflow: hidden;
  }
  .error{
      color: white;
      margin-left: 20px;
      transform: translate(0%,200%);
  }