*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Fira Sans', sans-serif;
}
.search-container{
    width: 100vw;
    height: 100vh;
    overflow-X: hidden;
    background-color: rgb(41, 39, 39);
    background-color: rgb(24, 23, 23);
    display: flex;
    flex-direction: column;
}
.text-area{
    width: 90vw;
    height: 100px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
  
}
.search-bottom{
    width: 100vw;
    height: 100vh;
    /* background-color: cornsilk; */
}
#result, #suggestion{
    position: absolute;
    top: 100px;
    left: 0;
}
#result{
    display: flex;
    /* background-color: cadetblue; */
    width: 100vw;
}
#suggestion{
    /* background-color: bisque; */
    width: 100vw;
}
